<h2 class="crumbs-title">Works</h2>

<section class="project">
    <div class="card-wrapper">
        <ng-container *ngFor="let projectData of projectData">
            <div class="cards">
                <div class="icons">
                    <a [href]=projectData.gitHubLink target="_blank" *ngIf="projectData.gitHubLink">
                        <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="connection-icon">
                            <title>GitHub</title>
                            <path
                                d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                            </path>
                        </svg>
                    </a>
                    <a [href]="projectData.live" target="_blank" *ngIf="projectData.live">
                        <svg style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32"
                            class="connection-icon" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                                d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M10,24V8l16.008,8L10,24z   "
                                style="fill:currentColor;" />
                        </svg>
                    </a>
                </div>
                <div class="project-title">{{projectData.title}}</div>
                <div class="desc">{{projectData.desc}}</div>
                <div class="tech-stack">
                    <div class="tech" *ngFor="let tech of projectData.techStack">
                        {{tech}}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</section>