<app-header></app-header>

<div class="container">

    <aside class="side-fixed left"></aside>

    <main class="main-container">
        <app-intro-jumbotron></app-intro-jumbotron>
        <article class="main-crumbs">
            <app-about-me id="aboutComponent"></app-about-me>
            <app-experience id="experienceComponent"></app-experience>
            <app-projects id="workComponent"></app-projects>
            <app-greet id="contactComponent"></app-greet>
            <div class="credit">Built with Angular 14 and <span class="heart">&#x2665;</span> by Ajay Chandrsekaran</div>
        </article>
    </main>

    <aside class="side-fixed right connect">
    </aside>
</div>