$header-background: #1d232f;
$header-color: #c2cceb;
$body-background: #131723;
$body-primary: #64ffda;
$body-primary-selected: #64ffda34;
$body-primary-hover: #64ffda1a;;
$color-white: #ffff;
$color-white-tint: #cdc6f6;
$body-color: #c2cceb;
$card-background: #112240
